# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
xcshareddata/WorkspaceSettings.xcsettings

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved

# User secrets (just in case)
*.local.xcconfig
.env
